<% content_for :navbar_extra do %>
  <li class="nav-item">
    <%= link_to t('acciones.cerrar_sesion'), salir_url, class: 'btn btn-danger mr-3', role: 'button' %>
  </li>
<% end %>

<div class="bg-light-dark min-vh-100">
  <div class="container pt-5" id="ver-admin">
    <h1 class="text-center">
      <%= t 'secciones.administracion' %>
    </h1>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'acciones.cerrar' %>">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <!-- Acciones -->
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.canciones' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('titulo_crear_cancion'), new_cancion_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.insultos' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('acciones.crear'), new_insulto_url, class: 'btn btn-primary' %>
          <%= link_to t('acciones.cambiar'), new_insulto_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.contrasena_admin' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('titulo.cambiar'), admin_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.anuncios' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('acciones.nuevo'), new_anuncio_url, class: 'btn btn-primary' %>
          <%= link_to t('acciones.gestionar'), new_insulto_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'nombres.correo_masivo' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('acciones.enviar'), new_cancion_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.mantenimiento' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <% if ALM_CONFIG['mantenimiento'] %>
            <%= link_to t('accion.desactivar'), admin_mantenimiento_url, class: 'btn btn-success' %>
          <% else %>
            <%= link_to t('accion.activar'), admin_mantenimiento_url, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h5 card-title"><%= t 'secciones.archivo_log' %></h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim laoreet, tincidunt est et, pulvinar elit.</p>
          <%= link_to t('titulo.crear_log'), admin_crear_log_url, class: 'btn btn-primary' %>
          <%= link_to t('titulo.ver_log'), admin_ver_log_url, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
