<% content_for :navbar_extra do %>
  <li class="nav-item">
    <%= link_to t('acciones.cerrar_sesion'), salir_url, class: 'btn btn-danger mr-3', role: 'button' %>
  </li>
<% end %>

<div class="bg-light-dark min-vh-100">
  <div class="container py-5" id="ver-admin">
    <h1 class="text-center">
      <%= t 'secciones.administracion' %>
    </h1>

    <%= render 'partials/alerts' %>

    <!-- Acciones -->
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.canciones' %></h2>
          <p class="card-text"><%= t 'secciones.canciones_sub' %></p>
          <%= link_to t('acciones.crear'), new_cancion_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.insultos' %></h2>
          <p class="card-text"><%= t 'secciones.insultos_sub' %></p>
          <%= link_to t('acciones.gestionar'), insultos_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.contrasena_admin' %></h2>
          <p class="card-text"><%= t 'secciones.contrasena_admin_sub' %></p>
          <%= link_to t('acciones.cambiar'), admin_contrasena_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.anuncios' %></h2>
          <p class="card-text"><%= t 'secciones.anuncios_sub' %></p>
          <%= link_to t('acciones.gestionar'), anuncios_url, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.correo_masivo' %></h2>
          <p class="card-text"><%= t 'secciones.correo_masivo_sub' %></p>
          <%= link_to t('acciones.enviar'), admin_correo_masivo_url, class: 'btn btn-primary disabled' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.mantenimiento' %></h2>
          <p class="card-text"><%= t 'secciones.mantenimiento_sub' %></p>
          <% if ALM_CONFIG['mantenimiento'] %>
            <%= link_to t('acciones.desactivar'), admin_mantenimiento_url, class: 'btn btn-success' %>
          <% else %>
            <%= link_to t('acciones.activar'), admin_mantenimiento_url, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.archivo_log' %></h2>
          <p class="card-text"><%= t 'secciones.archivo_log_sub' %></p>
          <%= link_to t('titulo_ver_log'), admin_ver_log_url, class: 'btn btn-primary disabled' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.import_export' %></h2>
          <p class="card-text"><%= t 'secciones.import_export_sub' %></p>
          <%= link_to t('acciones.gestionar'), admin_import_export_url, class: 'btn btn-primary disabled' %>
        </div>
      </div>
      <div class="card bg-white m-4 accion-admin">
        <div class="card-body">
          <h2 class="h4 card-title"><%= t 'secciones.inactividad' %></h2>
          <p class="card-text"><%= t 'secciones.inactividad_sub' %></p>
          <%= link_to t('acciones.cambiar'), admin_cambiar_inactividad_url, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
