<%= render "partials/publicidad" do %>
  <div class="container justify-content-center mt-5">
    <h1 class="text-center">
      <% if params[:q].empty? %>
        <%= t 'todas_las_canciones', busqueda: params[:q] %>
      <% else %>
        <%= t 'resultados_busqueda', busqueda: params[:q] %>
      <% end %>
    </h1>


    <% if @canciones.empty? %>
      <h2 class="text-center text-muted"><%= t 'ningun_resultado_cancion' %></h2>
    <% else %>
      <ul class="list-group">
        <% @canciones.each do |cancion| %>
          <li class="list-group-item my-2 shadow-sm rounded-lg">
            <%= link_to cancion_url(cancion), class: 'text-decoration-none' do %>
              <div class="d-flex flex-row">
                <%= image_tag cancion.imagen.attached? ?
                                  cancion.imagen :
                                  'music_note_disk_icon.png',
                              class: 'no-drag-select',
                              style: 'max-height: 8rem;' %>

                <div class="p-3">
                  <h3 class="card-title"><%= cancion.titulo %></h3>
                  <h4 class="card-subtitle mb-2 text-muted"><%= cancion.artista %></h4>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
