<div class="row m-0">
  <div class="col-12 col-lg-1 px-0">
    <div>
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" class="w-100">
    </div>
  </div>
  <div class="col-12 col-lg mt-4">
    <div class="container justify-content-center text-center">
      <div>
        <h1><%= t("titulo_buscar_cancion") %></h1>

        <div>
        <%= form_tag buscar_path do %>
          <%= text_field_tag :busqueda %>
          <%= submit_tag %>
        <% end %>
        </div>
      </div>

      <img src="<%= asset_url("undraw_compose_music_ovo2.svg") %>" class="w-50 mt-5">

      <div class="mt-5">
        <h2><%= t('titulo_canciones_populares') %></h2>

        <div class="d-flex flex-row justify-content-center">
        <% @canciones.each do |cancion| %>
          <a href="<%= cancion_path(cancion) %>">
            <div class="bg-light p-2 m-2" style="">

              <img src="<%= cancion.imagen.attached? ? url_for(cancion.imagen) : asset_url("music_note_disk_icon.png") %>" style="width: 10em; height: 10em"  alt="Imagen de la canción">


              <div><%= cancion.titulo %></div>
              <div><%= cancion.artista %></div>
              <div>Visitas: <%= cancion.visitas %></div>
              <div>Parrafos: <%= cancion.parrafos.count %></div>
            </div>
          </a>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-1 px-0 d-none d-lg-flex">
    <div>
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" class="w-100">
    </div>
  </div>
</div>