<%= render "partials/ads-layout" do %>
  <div class="container justify-content-center mt-5" id="ver-principal">
    <div class="offset-2 col-8 text-center">
      <h1><%= t "titulo_buscar_cancion" %></h1>

      <%= form_with url: buscar_url, local: true, method: :get do |f| %>
        <div class="form-group">
          <%= f.text_field :q, class: 'form-control form-control-lg', placeholder: t('buscar_todas') %>
        </div>
        <%= f.submit t('acciones.buscar'), name: nil, class: 'btn btn-primary' %>
      <% end %>

      <%= image_tag 'undraw_music_disc.svg', class: 'w-100 px-5 mt-5 no-drag-select' %>
    </div>

    <div class="mt-5 text-center">
      <h2><%= t 'titulo_canciones_populares' %></h2>
      <ul class="list-unstyled d-flex flex-row flex-wrap justify-content-center">
        <% if !@canciones.empty? %>
          <% @canciones.each do |cancion| %>
            <li>
              <a href="<%= cancion_url(cancion) %>" class="text-decoration-none">
                <div class="m-3 p-4 bg-white shadow-sm rounded-lg cancion-popular">
                  <% if cancion.imagen.attached? %>
                    <%= image_tag cancion.imagen, class: 'cancion-popular__imagen no-drag-select' %>
                  <% else %>
                    <%= image_tag 'music_note_disk_icon.png', class: 'cancion-popular__imagen-defecto no-drag-select' %>
                  <% end %>

                  <div class="mt-3">
                    <p class="card-title"><%= cancion.titulo %></p>
                    <p class="card-subtitle mb-2 text-muted"><%= cancion.artista %></p>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
        <% else %>
          <h3 class="text-muted w-50 text-decoration-none"><%= t 'ninguna_cancion' %></h3>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>