<div class="m-0 d-flex min-vh-100 justify-content-center align-items-center flex-column">
  <div class="login-form text-center">
    <h1><%= t 'iniciar_sesion' %></h1>

    <%= image_tag 'undraw_login.svg', class: 'w-25 mt-2 mb-5' %>

    <%= form_with url: admin_url, local: true do |f| %>
      <div class="form-group row offset-3 col-6">
        <%= f.label :contrasena, class: 'col-12' %>
        <%= f.password_field :contrasena, class: 'form-control' %>
      </div>

      <%= f.submit t('iniciar_sesion'), class: 'btn btn-primary' %>
    <% end %>

    <% if flash[:alert] %>
    <div class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= alert %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'acciones.cerrar' %>">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="mt-5 alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'acciones.cerrar' %>">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>
</div>