<h1><%= t('new_paragraph') %></h1>
<%= form_with scope: :parrafo, url: cancion_parrafos_path, local: true do |form| %>
  <p>
    <%= form.label :texto %><br>
    <%= form.text_area :texto %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %><
รง