<div class="row no-gutters bg-light-dark min-vh-100">
  <div class="col-12 col-lg-1">
    <div class="contenedor-anuncios">
      <% Anuncio.order(:posicion => :asc).each_with_index do |anuncio, index| %>
        <% if anuncio.imagen.attached? && anuncio.posicion % 2 == 0 %>
          <%= link_to anuncio.url, target: '_blank' do %>
            <% if index == 0 %>
              <%= image_tag anuncio.imagen, class: 'no-drag-select w-100' %>
            <% else %>
              <%= image_tag anuncio.imagen, class: 'no-drag-select w-100 d-none d-lg-block' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg mt-5">
    <%= yield %>
  </div>
  <div class="col-12 col-lg-1">
    <div class="contenedor-anuncios">
      <% Anuncio.order(:posicion => :asc).each_with_index do |anuncio, index| %>
        <% if anuncio.imagen.attached? && anuncio.posicion % 2 != 0 %>
          <%= link_to anuncio.url, target: '_blank' do %>
            <% if index == 0 %>
              <%= image_tag anuncio.imagen, class: 'no-drag-select w-100' %>
            <% else %>
              <%= image_tag anuncio.imagen, class: 'no-drag-select w-100 d-none d-lg-block' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>