<div class="container mt-5">
  <h1>
    <%= t('nueva_cancion') %>
  </h1>

  <%= form_with(model: @cancion, local: true) do |form| %>
    <p class="form-group">
      <%= form.label :titulo %><br>
      <%= form.text_field :titulo, class: 'form-control' %>
    </p>

    <p class="form-group">
      <%= form.label :artista %><br>
      <%= form.text_field :artista, class: 'form-control' %>
    </p>

    <p class="form-group">
      <%= form.label :imagen %><br>
      <%= form.file_field :imagen, class: 'form-control-file' %>
    </p>

    <p class="form-group">
      <%= form.label :letra %><br>
      <%= form.text_area :letra, class: 'form-control', rows: 20 %>
    </p>

    <p class="form-group">
      <%= form.submit class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

