<div class="bg-light-dark min-vh-100">
  <div class="container pt-5" id="crear-insulto">
    <h1><%= t('titulo_nuevo_insulto') %></h1>

    <%= render 'partials/alerts' %>

    <%= form_with model: @insulto, local: true do |f| %>
      <p class="form-group form-inline">
        <%= f.label :insulto %><br>
        <%= f.text_field :insulto, class: 'form-control ml-4' %>
      </p>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
