<h1><%= t('new_insult') %></h1>
<%= form_with model: @insulto, local: true do |form| %>
  <p>
    <%= form.label :insulto %><br>
    <%= form.text_field :insulto %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
