<div class="bg-light-dark min-vh-100">
  <div class="container pt-5" id="crear-anuncio">
    <h1><%= t('titulo_crear_anuncio') %></h1>

    <%= form_with(model: @anuncio, local: true) do |f| %>
      <p class="form-group">
        <%= f.label :url %><br>
        <%= f.url_field :url, class: 'form-control' %>
      </p>

      <p class="form-group">
        <%= f.label :imagen %><br>
        <%= f.file_field :imagen, class: 'form-control-file' %>
      </p>

      <p class="form-group">
        <%= f.label :correo %><br>
        <%= f.email_field :correo, class: 'form-control' %>
      </p>

      <p class="form-group">
        <%= f.label :posicion %>
        <%= f.number_field :posicion, class: 'form-control' %>
      </p>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
