<h1><%= t('new_ad') %></h1>
<%= form_with scope: :anuncio, url: anuncios_path, local: true do |form| %>
  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.label :imagen %><br>
    <%= form.file_field :imagen %>
  </p>

  <p>
    <%= form.label :correo %><br>
    <%= form.text_field :correo %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>