<div class="container mt-5">
  <h1>
    <%= t('nuevo_anuncio') %>
  </h1>

  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%= notice %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'acciones.cerrar' %>">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <%= form_with(model: @anuncio, local: true) do |form| %>
    <p class="form-group">
      <%= form.label :url %><br>
      <%= form.url_field :url, class: 'form-control' %>
    </p>

    <p class="form-group">
      <%= form.label :imagen %><br>
      <%= form.file_field :imagen, class: 'form-control-file' %>
    </p>

    <p class="form-group">
      <%= form.label :correo %><br>
      <%= form.email_field :correo, class: 'form-control' %>
    </p>

    <p class="form-group">
      <%= form.label :posicion %>
      <%= form.number_field :posicion, class: 'form-control' %>
    </p>

    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
