<nav class="navbar navbar-dark navbar-static-top navbar-expand-md navbar-dark bg-dark">
  <%= link_to "Aylamusica", root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <%= yield(:navbar_extra) if content_for? :navbar_extra  %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="flag-icon flag-icon-<%= I18n.locale.to_s %>"></span>
          <%= I18n.locale.to_s.upcase! %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% I18n.available_locales.reject { |u| u == I18n.locale }.each do |other_locale| %>
            <%= link_to request.parameters.merge({ :locale =>  other_locale }), :class => "dropdown-item" do %>
              <span class="flag-icon flag-icon-<%= other_locale.to_s %>"></span>
              <%= other_locale.to_s.upcase! %>
            <% end %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>